/* Author:Sreeevidya */

/* This CSS is a part of UI for fillups, editor and navigation */

.flex-parent {
  display: flex;
}

.jc-center {
  margin-top: 20%;
  justify-content: center;
}

.margin-right {
  margin-right: 20px;
}

.my-startbtn {
  width:150px;
  height:40px;
}

.my-questionpg {
  border: 1px solid black;
  margin: 5px;
  min-height:700px;
}
 
.my-card {
  min-height : 650px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-questionpg .sidebar {
  margin-top : 20px;
  margin-left : 20px;
}

.my-questionpg .sidebar .details {
  margin-right : 20px;
}

.my-btn {
  float:right;
  width:80px;
  margin-left:10px;
}

.my-deadaline {
  margin-right: 50px;
}

.fillups-text .my-input {
  width:75%;
  resize: none;
}

.my-cardbody-fillups {
  position:relative;
}

.my-cardbody-instructions {
  position:relative;
  overflow: auto;
}

.fillups-text {
  position:absolute;
  bottom: 10px;
  width:100%;
}

.my-cardbody-fillups .question {
  height: 160px;
  width:100%;
  overflow: auto;
}
 
.my-cardbody-fillups .question p{
  margin-bottom: 0rem;
}

.my-instructions {
  border: 1px solid black;
  margin: 20px;
  min-height:680px;
}

.my-instructions .my-card {
  margin-top:80px;
  margin-left:20px;
  margin-right:20px;
  margin-bottom: 80px;
  min-height : 540px;
  width:85%;
  margin-left: 7%;
}

.instructions-text {
  font-size:large;
}

.report {
  margin: 3%;
}

.my-resultspg{
  margin:1%;
}

.results {
  width:80%;
  margin : 0% 10% 0% 10%;
  border: 1px solid black;
}

.results-thead {
  border-bottom: 1px solid;
}

.coding-question {
  max-height: 480px;
  width:100%;
  overflow: auto;
}

.editor-btns {
  margin: 2px;
}

.reset {
  float: right;
}

.sec-title {
  display: flex;
  justify-content: space-between;
}

.answer_status {
  margin-left: 3%;
}
